.columnContainer {
  display: flex;
  flex-direction: column;
  width: 35rem;
  /*height: 74.929rem;*/
  border: 0.125rem solid #000000;
  /*border-radius: 1rem;*/
  box-sizing: border-box;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1.85rem;
  margin: 1.81rem 0 2.56rem 0;
}

.contentContainer > * {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}
