.row {
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  align-items: center;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  border: transparent;
  width: 9.725rem;

  position: fixed;
  background: #ffffff;
  margin-top: 0.813rem;
  z-index: 1;
  border: 0.1rem solid black;
}

.text {
  margin-left: 0.938rem;
}

.resetAll {
  margin: 0;
  padding: 0;
}
