.row {
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  align-items: center;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  border: transparent;
  width: 9.725rem;
  right: 8.125px;
  position: fixed;
  background: #ffffff;
  border-radius: 0.625em;
  margin-top: 0.813rem;
  z-index: 1;
}

.text {
  margin-left: 0.938rem;
}

.resetAll {
  margin: 0;
  padding: 0;
}
