.layoutContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #69648b;
  /* background-image: url("../../assets/images/background.svg"); */
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}
