.headercontainer {
  width: 100%;
  height: 3.143rem;
  display: flex;
  background: #ffffff;
  border-bottom: 0.125rem solid #000000;
  box-shadow: 4px 4px 0px #000000;
  box-sizing: border-box;
  justify-content: space-between;
}

.imagebtn {
  margin: 1.143rem;
}

.title {
  margin-left: 1.25rem;
  color: #1a5c81;
}
