.detailsButton {
  margin-left: auto;
}

.scrollableContainer {
  overflow-y: scroll;
  max-height: 10rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollableContainer::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
