.container {
  width: 90%;
  height: fit-content;
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
  border: 0.0625rem solid rgb(85, 85, 85);

  border-radius: 0 0 0.125rem 0.125rem;
}

.avatarContainer {
  position: absolute;
  left: -1rem;
  top: -0.8rem;
}
.nameLabel {
  margin-left: 1.5rem;
  font-size: 0.85rem;
}

.dateLabel {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 0.75rem;
  align-self: center;
}

.commentContainer {
  padding: 16px 24px 20px;
  background: #ffffff;
}
.headerContainer {
  display: flex;
  background: #e6d9c8f3;

  border-bottom: 0.0625rem solid rgb(46, 46, 46);
}
.input {
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
}

.input:focus {
  background-color: rgb(255, 255, 255);
}

.addCardButton,
.cancelCardButton {
  height: 1rem;
  border-width: 0.12rem;
  font-size: 0.5rem;
}
.addCardButton {
  width: 7rem;
}

.addCardButton:disabled {
  opacity: 0.7;
}
