.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: 0.4rem;
  padding: 0.5rem;
  width: 20rem;
  height: fit-content;
  background: #bbb3f9;
  border: 0.12rem solid #000000;
  box-shadow: 0.25rem 0 0 #000000;
  border-radius: 0;
}

.newListButton {
  width: 21rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-width: 0.12rem;
  height: 2.5rem;
  background: #bbb3f9;
  border-bottom: 0.125rem solid #000000;
  box-shadow: 0.25rem 0 0 #000000;
  border-radius: 0;
}

.newListButton:hover {
  background-color: #cfcfcf;
}

.input {
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  background-color: #bbb3f9;
}

.addCardButton,
.cancelCardButton {
  height: 1.6rem;
  border-width: 0.12rem;
}
.addCardButton {
  width: 7rem;

  background-color: #c8ff9d;
}

.cancelCardButton {
  width: 5rem;
  background-color: #ffa3cf;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  height: fit-content;
  width: 100%;
}
