.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.label {
  font-size: 0.85rem;
  color: rgb(143, 142, 142);
}

.members {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
}
.addMember {
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 20rem;
  border: 0.1rem solid #333333;
}
