.labelContainer {
  padding: 0.125rem 0.25rem;
  height: 1rem;
  min-width: 1rem;
  border-radius: 0.25rem;
  font-family: fira code;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase;

  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
