.workspaceContainer {
  height: fit-content;
  max-height: 27rem;
  width: 85%;
  display: flex;

  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  padding: 2rem;
  /*border: 0.125rem solid #252525;
  box-shadow: 0.25rem 0.25rem #3d3d3d;
  border-radius: 1rem;
  padding: 2rem;*/
  flex-direction: column;
  position: relative;
  background-color: #f3f6fd;
}

.scrollContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;
  /*overflow-y: scroll;*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollContainer::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.contentContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  /*background-image: url("../../assets/images/sapa2.png");*/
  opacity: 100%;
}

.imageTopContainer {
  width: 6rem;
  position: absolute;
  top: -6.1rem;
  right: 15%;
  z-index: 0;
  opacity: 100%;
}

.imageBottomContainer {
  width: 6rem;
  position: absolute;
  bottom: -6.1rem;
  left: 10%;
  z-index: 0;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 6rem;
  height: 6rem;
}

.slideTop {
  position: absolute;
  bottom: -4rem;
  width: 6rem;
  height: 6rem;
  transition: 1s;
}

.slideBottom {
  position: absolute;
  top: 0;
  width: 6rem;
  height: 6rem;
  transition: 1s;
}

.workspaceContainer:hover .slideTop {
  transition: 1.5s;
  bottom: 0;
}

.workspaceContainer:hover .slideBottom {
  transition: 0.3s;
  top: -4rem;
}

.loadingImage {
  align-self: center;
  justify-self: center;
}
